name: Build

on: [push, pull_request]

jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12

            - name: Check
              run: cargo check

    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12
                  components: clippy

            - uses: giraffate/clippy-action@v1
              with:
                  reporter: "github-pr-check"
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  clippy_flags: --all --lib --bins --examples

    fmt:
        name: Rustfmt
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12
                  components: rustfmt

            - name: Format
              run: cargo fmt --all -- --check

    semver:
        name: Semver Check
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12

            - name: Install cargo-semver-checks from git
              run: cargo install --git https://github.com/obi1kenobi/cargo-semver-checks cargo-semver-checks

            - name: Check semver
              run: cargo semver-checks

    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12

            - name: Setup | Install cargo-nextest
              uses: taiki-e/install-action@v2
              with:
                  tool: cargo-nextest

            - name: Test
              run: cargo nextest run --no-tests=pass

    mutants:
        name: Mutation Testing
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12

            - name: Setup | Install cargo-mutants
              uses: taiki-e/install-action@v2
              with:
                  tool: cargo-mutants

            - name: Mutation Testing
              run: cargo mutants -vV --in-place

            - name: Upload Mutation Testing Results
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: mutants-out
                  path: mutants.out

    audit:
        name: Dependency Audit
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12

            - name: Setup | Install cargo-audit
              run: cargo install cargo-audit

            - name: Audit
              run: cargo audit

    dep:
        name: Unused Dependencies
        runs-on: ubuntu-latest
        steps:
            - name: Setup | Checkout
              uses: actions/checkout@v4

            - name: Setup | Toolchain
              uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly-2025-12-12

            - name: Check Unused Dependencies
              uses: bnjbvr/cargo-machete@main
